<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aidebot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--        In order to be able to set reminders intern inside CALENDAR of USER         -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />




    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:configChanges="locale"
        android:theme="@style/AppTheme">
        <!--        <activity android:name=".LoginActivity"></activity>-->
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".RegistrationActivityOptional"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".InventoryFragment" />
        <activity android:name=".TreatmentsFragment" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>